/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	.wrapper
	{
		position: relative;
	}
	
	#header-wrapper
	{
		background: url('../images/banner.jpg') center center;
		background-size: cover;
	}